
<div
  class="collapse navbar-collapse w-auto max-height-vh-100"
  id="sidenav-collapse-main"
>
  <ul class="navbar-nav">
    <img src="../assets/img/FINITA-logotipo.svg" alt="logo" />
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive>
        
        <div
          class="
            text-white text-center
            me-2
            d-flex
            align-items-center
            justify-content-center
          "
        >
          <i class="material-icons text-dark">dashboard</i>
        </div>
        <span class="nav-link-text ms-1 text-dark">Dashboard</span>
      </a>
    </li>
  
    <li class="nav-item">
      <a
        class="nav-link text-white"
        routerLink="/dashboard/files"
        routerLinkActive
      >
        <div
          class="
            text-white text-center
            me-2
            d-flex
            align-items-center
            justify-content-center
          "
        >
          <i class="material-icons text-dark">document_scanner</i>
        </div>
        <span class="nav-link-text ms-1 text-dark">Documentos</span>
      </a>
    </li>

    <!--<li class="nav-item">
        <a class="nav-link text-white " href="../pages/rtl.html">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons text-dark">monetization_on</i>
          </div>
          <span class="nav-link-text ms-1 text-dark">Simulador de prestamo</span>
        </a>
      </li>-->
    <li class="nav-item">
      <a class="nav-link text-white" href="../pages/sign-in.html">
        <div
          class="
            text-white text-center
            me-2
            d-flex
            align-items-center
            justify-content-center
          "
        >
          <i class="material-icons text-dark">login</i>
        </div>
        <span class="nav-link-text ms-1 text-dark">Salir</span>
      </a>
    </li>
  </ul>
</div>
